body{
    font-family:'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
color: orangered;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width:80%
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px ;
    color:white ;
    font-weight: 700px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/87216755_801403133693138_5101585389961871360_n.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/87382184_578293089428234_8515006254706327552_n.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/87293379_508328626489105_9144507495178305536_n.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray ;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}footer p{
    text-align: center;
}